In [12]:
def dpar(M):
    res={}
    for i in M:
        if i %2 == 0:
            res[i]= 1 if not i in res else res[i]+1
    return  res
M = [12, 19, 19, 18, 18, 16, 18, 13, 19, 18, 12, 18, 11, 20, 14, 14, 20, 20, 20, 16, 13, 15, 19, 14, 12]
b = dpar(M)
#print(b)
assert b =={12: 3, 18: 5, 16: 2, 20: 4, 14: 3}

{12: 3, 18: 5, 16: 2, 20: 4, 14: 3}

In [15]:
lst_ciudad = [['Londres', 3.4, 6.3, 10.5, 6.8], ['Oslo', -3.8, -5.0, 5.1, 4.2], 
 ['Berlin', 7.5, 4.1, 12.3, 13.0], ['Málaga', 14.7, 12.3, 19.5, 18.4]]
def TempMaxMin(lst):
    return {i[0]:[max(i[1:]), min(i[1:]) ] for i in lst_ciudad}    
M= TempMaxMin(lst_ciudad)
#print(M)
assert  M == {'Berlin': [13.0, 4.1], 'Londres': [10.5, 3.4],  'Málaga': [19.5, 12.3], 'Oslo': [5.1, -5.0]}

{'Londres': [10.5, 3.4], 'Oslo': [5.1, -5.0], 'Berlin': [13.0, 4.1], 'Málaga': [19.5, 12.3]}

In [20]:
def PersMayTemp(dPersC, dCiudT):
    result =[]
    for key in dPersC:
        if dCiudT[dPersC[key]] < 0:
            result.append(key)
    result.sort()
    return result

dCi = {'Manchester': 1.1, 'Madrid': -8.9, 'Gava': 4,'Pobla de Segur': -5.6, 'Lleida': -3.2, 'Elche': 2.1,  'Burgos': -6.0, 'Sant Boi': 4.5}
dPe = {'Pepe': 'Manchester', 'Lionel': 'Gava', 'Mike': 'Sant Boi',  'Puyol': 'Pobla de Segur', 'Jaime': 'Elche', 'Sergi': 'Lleida', 'Ernesto': 'Madrid', 'Carlos': 'Burgos'}
res= PersMayTemp(dPe, dCi)
#print(res)
assert res == ['Carlos', 'Ernesto', 'Puyol', 'Sergi']

['Carlos', 'Ernesto', 'Puyol', 'Sergi']

In [22]:
def lst_hiper(dicc, edad):
    res = [k for k in dicc if dicc[k][0]<edad and (dicc[k][1]>= 140 or dicc[k][2]>=90) ]
    res.sort()
    return res
dpers = {'Maria': [40, 135, 90],'Nuria': [63, 141, 92], \
 'Jose': [47, 110, 59], 'Luis': [49, 146, 94], \
 'Oriol': [52, 130, 89], 'Carlos': [65, 125, 89], \
 'Pepe': [70, 130, 92] }
assert lst_hiper(dpers, 45) == ['Maria']
assert lst_hiper(dpers, 70) == ['Luis', 'Maria', 'Nuria']

In [30]:
def __nivelksang(k,lst):
    if k <lst[0]:
        return 'hipokalemia crítica'
    if lst[0] <= k < lst[1] :
        return 'hipokalemia leve'
    if lst[1] <= k <= lst[2]:
        return 'normal'
    if lst[2] < k <= lst[3]:
        return 'hiperkalemia moderada'
    return 'hiperkalemia severa'

def nivelKsang(dK, lst):
    return {name:__nivelksang(dK[name],lst) for name in dK}


dK1 = {'Luis': 2.2, 'Carlos': 7.0, 'Laia': 4.0, 'Mikel': 5.5, \
     'Jordi': 5.2, 'Anna': 3.6, 'Joe': 7.2}
ls1 = [2.0, 3.5, 5.2, 7.0]
dic = nivelKsang(dK1, ls1)
#print(dic)
assert dic == {'Luis': 'hipokalemia leve', \
     'Carlos': 'hiperkalemia moderada', 'Laia': 'normal', \
     'Mikel': 'hiperkalemia moderada', 'Jordi': 'normal', \
     'Anna': 'normal', 'Joe': 'hiperkalemia severa'}

{'Luis': 'hipokalemia leve', 'Carlos': 'hiperkalemia moderada', 'Laia': 'normal', 'Mikel': 'hiperkalemia moderada', 'Jordi': 'normal', 'Anna': 'normal', 'Joe': 'hiperkalemia severa'}

In [48]:
import pandas as pd
d={'Ciudad':['Londres','Oslo','Berlin','Málaga'],'Enero':[3.4,-3.8,7.5,14.7], 'Febrero':[6.3, -5.0,4.1,12.3], 'Marzo':[10.5,5.1,12.3,19.5], 'Abril': [6.8,4.2, 13.0 , 18.4]}
df=pd.DataFrame.from_dict(d)
res=df.copy()
res['Min']=df.min(1, True, True)
res['Max']=df.max(1, True, True)
res['Media']=df.mean(1,True, True) ##el ejercicio pedia la media pero el resultado mostraba el promedio.
res['StdDev']=df.std(axis=1, numeric_only=True)
res

    Ciudad  Enero  Febrero  Marzo  Abril   Min   Max   Media    StdDev
0  Londres    3.4      6.3   10.5    6.8   3.4  10.5   6.750  2.914904
1     Oslo   -3.8     -5.0    5.1    4.2  -5.0   5.1   0.125  5.260783
2   Berlin    7.5      4.1   12.3   13.0   4.1  13.0   9.225  4.201091
3   Málaga   14.7     12.3   19.5   18.4  12.3  19.5  16.225  3.326034